.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.class
*.html
*.css
*.js
*.bin
sandbox/.idea/vcs.xml
sandbox/.idea/misc.xml
sandbox/.idea/gradle.xml
sandbox/build/test-results/test/binary/output.bin.idx
sandbox/build/test-results/test/TEST-ru.stqa.pft.sandbox.EquationTests.xml
sandbox/build/test-results/test/TEST-ak.dz.first.second.DistanceTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.GroupDeletionTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.contacts.ContactCreation.xml
addressbook-web-tests/.idea/uiDesigner.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.groups.GroupCreationTests.xml
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.groups.GroupModificationTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.contacts.ContactDeletionTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.test.groups.GroupDeletionTests.xml
